@model TarefaViewModel;

<div class="panel panel-default tarefa-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Tarefa</td>
                <td>Previsão</td>
            </tr>
            </thead>
            <tbody>
                @foreach(var tarefa in Model.TarefaItens){
                    <tr>
                        <td><input type="checkbox" name="@tarefa.Id" value="true" class="done-checkbox"></td>
                        <td>@tarefa.Nome</td>
                        <td>@tarefa.DataConclusao</td>
                    </tr>
                }           
            </tbody>
    </table>

    <div class="panel-footer add-item-form">
        <form>
            <div id="add-item-error" class="text-danger"></div>
            <label for="add-item-title">Incluir nova tarefa: </label>
            <input id="add-item-title"/>
            <button type="button" id="add-item-button">Incluir</button>
        </form>
    </div>
</div>
    